#bootstrap-overrides {
    background-color: #f3f3f3;
}
.top-nav-link > a {
    color: white;
    font-size: smaller;
}
#bootstrap-overrides .top-nav-link a:hover,
#bootstrap-overrides .top-nav-link a:active,
#bootstrap-overrides .top-nav-link a:visited {
    color: white;
    background-color: #2874f0;
}
.head-color {
    background-color: #2874f0;
}
.navbar-brand {
    padding-top: 0px;
    padding-left: 20px;
}
.navbar-default {
    background-color: #2874f0;
    border-color: #2874f0
}
.dropdown-head > a {
    color: white;
    font-size: large;
}
#bootstrap-overrides .dropdown-head > a:hover {
    color: white;
    background-color: #2874f0;
}
#bootstrap-overrides .dropdown-head > a:focus,
#bootstrap-overrides .dropdown-head > a:visited,
#bootstrap-overrides .dropdown-head > a:active {
    background-color: #2874f0;
}
.navbar-overrider {
    margin-bottom: 0px;
}
.head-nav {
    padding-bottom: 20px;
}
#bootstrap-overrides .col-xs-12 {
    padding-right: 0px;
    padding-left: 0px;
}
#bootstrap-overrides .cart-btn {
    color: white;
    background-color: #2469d9;
    font-weight: bold;
    border-color: #2469d9;
    width: 120px;
    box-shadow: 2px 3px #2469d9;
    outline: #2469d9;
}
#bootstrap-overrides .cart-btn-icon {
    font-size: large;
}
#bootstrap-overrides .cart-btn-txt {
    padding: 0px 5px;
}
#bootstrap-overrides .cart-btn-badge {
    background-color: rgba(0, 0, 0, .1);
    padding: 8px 6px;
    border-radius: 0px;
}
.thumbnail {
    border: 0px
}
#bootstrap-overrides .caption {
    padding-left: 30px;
}
#bootstrap-overrides .rate-btn {
    background-color: #388e3c;
    border-radius: 4px;
    padding: 2px;
    outline: #388e3c;
    border: 1px solid #388e3c;
    cursor: text;
}
#bootstrap-overrides .rate-btn-badge {
    font-size: 12px;
    padding: 0px;
    color: white;
    background-color: #388e3c;
}
#bootstrap-overrides .itm-qunty {
    padding-left: 8px;
    font-weight: 500;
    color: #878787;
}
#bootstrap-overrides .itm-price {
    display: block;
    padding-top: 6px;
    font-size: initial;
}
#bootstrap-overrides .footer-table-nav .table thead>tr>th,
#bootstrap-overrides .footer-table-nav .table tr:first-child>td {
    border: 0px solid black;
}
.glyphicon-size {
    font-size: 300%;
}
.glyphicon-txt-size {
    font-size: 17px;
    margin-bottom: 0px;
}
#bootstrap-overrides .col-xs-12-default {
    margin-right: 15px;
    margin-left: 15px;
}
.reg-address-border {
    border-left: 1px dotted #D8D8D8;
}
.address-border {
    border-top: 1px dotted #D8D8D8;
}
.address-padding {
    padding: 15px;
}
.break-word {
    word-break: break-all;
}
@media only screen and (max-width: 767px) {
    .text-center td {
        width: 98px;
    }
    #carousel-example-generic img {
        height: 200px;
    }
    .search-field {
        padding: 10px 0px;
    }
    #bootstrap-overrides .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #2874f0;
    }
    .nav-pills>li+li {
        margin-left: 0px;
    }
    #bootstrap-overrides .float-none-xs {
        float: none!important;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
    .rgt-pad-md-48 {
        padding-right: 31px;
    }
    .lft-pad-sm-20 {
        padding-left: 35px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #bootstrap-overrides .rmove-rgt-pad {
        padding-right: 0px;
    }
    #bootstrap-overrides .rmove-lft-pad {
        padding-left: 0px;
    }
    #carousel-example-generic img {
        height: 200px;
    }
    #main-head {
        padding-right: 24px;
    }
    #bootstrap-overrides .lft-pad-sm-20 {
        padding-left: 20px;
    }
    #bootstrap-overrides .col-xs-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media only screen and (min-width: 992px) {
    #bootstrap-overrides .lft-pad-md-53 {
        padding-left: 53px;
    }
    #bootstrap-overrides .rmove-rgt-pad {
        padding-right: 0px;
    }
    #bootstrap-overrides .col-xs-12 {
        padding-right: 15px;
        padding-left: 0px;
    }
    #bootstrap-overrides .rgt-pad-md-48 {
        padding-right: 48px;
    }
    #bootstrap-overrides .float-rgt-md {
        float: right;
    }
}