#product-img-button-container {
    padding-top: 21px;
}
#product-img-button-container {
    #product-img-container {
        width: 90%;
        margin: auto;
        padding: 8% 0%;
    }
    .pad-left-0 {
        padding-left: 0px;
    }
    .prod-imag-conta {
        border: 1px solid #eee;
    }
    .btn-container-pad {
        padding: 8px 4px;
    }
    .btn-container-pad a {
        text-decoration: none;
        color: $color-white;
    }
    .add-cart {
        border-radius: 0px;
        background-color: $color-orange;
        border-color: $color-orange;
    }
    .buy-now {
        border-radius: 0px;
        background-color: $color-red;
        border-color: $color-red;
    }
    .block-btn {
        display: block;
        width: 100%;
    }
}