        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="btn-container-pad">
                <button class="btn btn-primary block-btn add-cart" type="submit">
                     <a href="javascript:void(0)">
                         <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {{flipkart_add_to_cart}}
                     </a>
                 </button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="btn-container-pad">
                <button class="btn btn-primary block-btn buy-now" type="submit">
                     <a href="javascript:void(0)">
                         <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> {{flipkart_buy_now}}
                     </a>
                 </button>
            </div>
        </div>