<ul class="list-group">
            {{#each images_name}}
            <li class="list-group-item">
                <img src="{{../images_path}}/{{this}}" class="img-responsive" alt="Responsive image">
            </li>
            {{/each}}
        </ul>