        {{#each footer_address}}
        <div class="col-xs-6 address-padding">
            <address>
                <strong>{{this.address_type}}:</strong><br/>{{this.address}}
            </address>
        </div>
        {{/each}}
