{{#each this}}
        <td><span class="glyphicon glyphicon-map-marker glyphicon-size" aria-hidden="true"></span>
            <p class="glyphicon-txt-size"><strong>{{text}}</strong>
            </p>
        </td>
{{/each}}
