#specification-list-container {
    .internal-col-xs-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .spec-head {
        font-weight: 700;
    }
    .spec-table-cont th, .spec-table-cont td {
        border: none;
    }
    .spec-table-cont tbody tr td:first-child {
        color: gray;
        width: 30%;
    }
    .spec-table-cont tbody tr td {
        font-size: 14px;
    }
}