        <span class="cart-btn-txt" aria-hidden="true">{{flipkart_cart}}</span>
        <span class="badge cart-btn-badge" aria-label='{{cart_items.length}} items in {{flipkart_cart}}' >{{cart_items.length}}</span>
